### Determinando un FVG
Lo primero que debemos hacer es leer data.
Vamos a descargar data de BTCUSDT en el rango 2023-08-09 - 2023-08-11 (9 al 11 de Agosto de 2023) en la temporalidad M5

In [42]:
import pandas as pd
from lightweight_charts import Chart
from finta import TA
import zipfile
import os

Este es un zip que tiene los datos de un solo dia 11 de Agosto en M5

In [43]:
zipfile_name = 'BTCUSDT-5m-2023-08-11.zip'
file_name = 'BTCUSDT-5m-2023-08-11.csv'
data_path = os.path.join('btc_fvg', zipfile_name)
# btc_fvg\BTCUSDT-5m-2023-08-11.zip

In [44]:
def read_csv(data_path, file_name):
    """
    Function to read csv inside zip.
    Input path strings
    Output: Pandas Dataframe
    """ 
    with zipfile.ZipFile(data_path, 'r') as zip_ref:
        with zip_ref.open(file_name) as csv_file:
            # Lee el archivo CSV utilizando Pandas
            dataframe = pd.read_csv(csv_file)
            return dataframe

In [45]:
data = read_csv(data_path, file_name)
data.head()

,open_time,open,high,low,close,volume,close_time,quote_volume,count,taker_buy_volume,taker_buy_quote_volume,ignore
0,1691712000000,29443.7,29443.8,29439.5,29439.5,142.335,1691712299999,4.190503e+06,1814,33.670,9.912864e+05,0
1,1691712300000,29439.6,29442.9,29436.0,29442.8,222.348,1691712599999,6.545603e+06,1957,149.725,4.407645e+06,0
2,1691712600000,29442.8,29450.3,29442.8,29449.0,314.360,1691712899999,9.257319e+06,2312,210.901,6.210576e+06,0
3,1691712900000,29449.0,29459.9,29445.5,29459.8,400.268,1691713199999,1.178984e+07,3253,244.879,7.212872e+06,0
4,1691713200000,29459.9,29475.0,29459.9,29475.0,397.210,1691713499999,1.170583e+07,3365,261.123,7.695420e+06,0

In [59]:
# Function to clean data to what i need

def prep_data(dataframe):
    # Eliminating irrelevant columns
    dataframe = dataframe[['open_time', 'open', 'high', 'low','close', 'volume']]
    dataframe['open_time'] = pd.to_datetime(dataframe['open_time'],unit='ms')
    return dataframe

In [60]:
aa = prep_data(data)

C:\Users\eduar\AppData\Local\Temp\ipykernel_20360\3479782272.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['open_time'] = pd.to_datetime(dataframe['open_time'],unit='ms')

In [61]:
aa

              open_time     open     high      low    close   volume
0   2023-08-11 00:00:00  29443.7  29443.8  29439.5  29439.5  142.335
1   2023-08-11 00:05:00  29439.6  29442.9  29436.0  29442.8  222.348
2   2023-08-11 00:10:00  29442.8  29450.3  29442.8  29449.0  314.360
3   2023-08-11 00:15:00  29449.0  29459.9  29445.5  29459.8  400.268
4   2023-08-11 00:20:00  29459.9  29475.0  29459.9  29475.0  397.210
..                  ...      ...      ...      ...      ...      ...
283 2023-08-11 23:35:00  29416.1  29416.9  29413.4  29413.4  176.268
284 2023-08-11 23:40:00  29413.5  29420.0  29413.4  29419.9  139.629
285 2023-08-11 23:45:00  29420.0  29430.0  29412.2  29412.2  311.631
286 2023-08-11 23:50:00  29412.3  29416.0  29412.2  29415.9   88.854
287 2023-08-11 23:55:00  29415.9  29416.0  29415.5  29415.5  105.068

[288 rows x 6 columns]

In [62]:
# Data for chart

bb = aa.copy()
bb = bb.rename(columns={"open_time": "time"})
bb

                   time     open     high      low    close   volume
0   2023-08-11 00:00:00  29443.7  29443.8  29439.5  29439.5  142.335
1   2023-08-11 00:05:00  29439.6  29442.9  29436.0  29442.8  222.348
2   2023-08-11 00:10:00  29442.8  29450.3  29442.8  29449.0  314.360
3   2023-08-11 00:15:00  29449.0  29459.9  29445.5  29459.8  400.268
4   2023-08-11 00:20:00  29459.9  29475.0  29459.9  29475.0  397.210
..                  ...      ...      ...      ...      ...      ...
283 2023-08-11 23:35:00  29416.1  29416.9  29413.4  29413.4  176.268
284 2023-08-11 23:40:00  29413.5  29420.0  29413.4  29419.9  139.629
285 2023-08-11 23:45:00  29420.0  29430.0  29412.2  29412.2  311.631
286 2023-08-11 23:50:00  29412.3  29416.0  29412.2  29415.9   88.854
287 2023-08-11 23:55:00  29415.9  29416.0  29415.5  29415.5  105.068

[288 rows x 6 columns]

### FVG Logic
Partamos de lo siguiente:
- Un FVG se forma con 3 velas ya cerradas, partiendo de la vela actual debemos ver dos velas atrás.
- Un FVG se calcula cuando la vela ya cerró.
- Cada vela que se crea se debe revisar nuevamente si ha creado un FVG con las dos velas anteriores.
- Se debe iniciar el analisis en una vela que sea la tercera, para que tenga dos velas anteriores.

##### Bullish FVG
Logica FVG:
Tenemos vela 1,2 y 3

- Si el low de vela 3 es mayor que el high de vela 1 Y ADEMAS el low de la vela 3 es mayor que el high  de la vela 2

##### Bearish FVG
- Si el high de la vela 3 es menor que el low de la vela 1 Y ADEMAS el high de la vela 3 es menor que el high de la vela 2

In [ ]:
bb['FVG'] = bb['']

In [82]:
# funcion para determinar FVG

def fvg_detector(dataframe):
    
    #entramos por cada fila
    for row in enumerate(dataframe.iloc):
        print(row)
    



fvg_detector(bb)

(0, time      2023-08-11 00:00:00
open                  29443.7
high                  29443.8
low                   29439.5
close                 29439.5
volume                142.335
Name: 0, dtype: object)
(1, time      2023-08-11 00:05:00
open                  29439.6
high                  29442.9
low                   29436.0
close                 29442.8
volume                222.348
Name: 1, dtype: object)
(2, time      2023-08-11 00:10:00
open                  29442.8
high                  29450.3
low                   29442.8
close                 29449.0
volume                 314.36
Name: 2, dtype: object)
(3, time      2023-08-11 00:15:00
open                  29449.0
high                  29459.9
low                   29445.5
close                 29459.8
volume                400.268
Name: 3, dtype: object)
(4, time      2023-08-11 00:20:00
open                  29459.9
high                  29475.0
low                   29459.9
close                 29475.0
volume                 397.21
Name: 4, dtype: object)
(5, time      2023-08-11 00:25:00
open                  29475.0
high                  29477.4
low                   29468.7
close                 29474.4
volume                357.485
Name: 5, dtype: object)
(6, time      2023-08-11 00:30:00
open                  29474.4
high                  29474.5
low                   29464.3
close                 29466.0
volume                245.952
Name: 6, dtype: object)
(7, time      2023-08-11 00:35:00
open                  29466.0
high                  29467.1
low                   29464.2
close                 29467.0
volume                141.601
Name: 7, dtype: object)
(8, time      2023-08-11 00:40:00
open                  29467.0
high                  29489.5
low                   29467.0
close                 29489.4
volume                571.195
Name: 8, dtype: object)
(9, time      2023-08-11 00:45:00
open                  29489.5
high                  29489.5
low                   29470.0
close                 29470.0
volume                354.587
Name: 9, dtype: object)
(10, time      2023-08-11 00:50:00
open                  29470.0
high                  29487.4
low                   29470.0
close                 29473.3
volume                492.402
Name: 10, dtype: object)
(11, time      2023-08-11 00:55:00
open                  29473.3
high                  29473.4
low                   29468.4
close                 29471.7
volume                204.608
Name: 11, dtype: object)
(12, time      2023-08-11 01:00:00
open                  29471.7
high                  29472.0
low                   29462.9
close                 29466.1
volume                194.338
Name: 12, dtype: object)
(13, time      2023-08-11 01:05:00
open                  29466.1
high                  29466.2
low                   29462.9
close                 29465.8
volume                119.377
Name: 13, dtype: object)
(14, time      2023-08-11 01:10:00
open                  29465.8
high                  29469.6
low                   29459.0
close                 29469.6
volume                252.864
Name: 14, dtype: object)
(15, time      2023-08-11 01:15:00
open                  29469.6
high                  29481.1
low                   29469.5
close                 29475.0
volume                204.984
Name: 15, dtype: object)
(16, time      2023-08-11 01:20:00
open                  29474.9
high                  29475.0
low                   29458.2
close                 29458.3
volume                224.006
Name: 16, dtype: object)
(17, time      2023-08-11 01:25:00
open                  29458.2
high                  29459.7
low                   29454.8
close                 29454.9
volume                270.969
Name: 17, dtype: object)
(18, time      2023-08-11 01:30:00
open                  29454.8
high                  29456.4
low                   29444.8
close                 29444.8
volume                275.235
Name: 18, dtype: object)
(19, time      2023-08-11 01:35:00
open                  29444.8
high                  29444.9
low                   29435.2
close                 29439.8
volume                348.975
Name: 19, dtype: object)
(20, time      2023-08-11 01:40:00
open                  29439.9
high                  29439.9
low                   29428.9
close                 29431.8
volume                 288.26
Name: 20, dtype: object)
(21, time      2023-08-11 01:45:00
open                  29431.7
high                  29445.7
low                   29430.4
close                 29443.5
volume                269.916
Name: 21, dtype: object)
(22, time      2023-08-11 01:50:00
open                  29443.6
high                  29446.0
low                   29443.1
close                 29443.1
volume                195.798
Name: 22, dtype: object)
(23, time      2023-08-11 01:55:00
open                  29443.2
high                  29443.2
low                   29438.5
close                 29438.5
volume                150.614
Name: 23, dtype: object)
(24, time      2023-08-11 02:00:00
open                  29438.6
high                  29438.6
low                   29421.0
close                 29423.1
volume                458.233
Name: 24, dtype: object)
(25, time      2023-08-11 02:05:00
open                  29423.0
high                  29423.1
low                   29401.8
close                 29409.4
volume                876.083
Name: 25, dtype: object)
(26, time      2023-08-11 02:10:00
open                  29409.5
high                  29415.8
low                   29409.4
close                 29415.8
volume                189.143
Name: 26, dtype: object)
(27, time      2023-08-11 02:15:00
open                  29415.8
high                  29415.8
low                   29409.0
close                 29409.1
volume                242.336
Name: 27, dtype: object)
(28, time      2023-08-11 02:20:00
open                  29409.0
high                  29413.5
low                   29387.1
close                 29387.1
volume                870.223
Name: 28, dtype: object)
(29, time      2023-08-11 02:25:00
open                  29387.1
high                  29408.8
low                   29387.1
close                 29406.4
volume                748.685
Name: 29, dtype: object)
(30, time      2023-08-11 02:30:00
open                  29406.4
high                  29408.3
low                   29397.5
close                 29400.7
volume                260.824
Name: 30, dtype: object)
(31, time      2023-08-11 02:35:00
open                  29400.7
high                  29400.7
low                   29388.4
close                 29388.5
volume                310.877
Name: 31, dtype: object)
(32, time      2023-08-11 02:40:00
open                  29388.4
high                  29395.5
low                   29380.0
close                 29389.4
volume                540.572
Name: 32, dtype: object)
(33, time      2023-08-11 02:45:00
open                  29389.3
high                  29389.4
low                   29375.0
close                 29386.9
volume                512.093
Name: 33, dtype: object)
(34, time      2023-08-11 02:50:00
open                  29387.0
high                  29387.0
low                   29364.6
close                 29366.1
volume                814.567
Name: 34, dtype: object)
(35, time      2023-08-11 02:55:00
open                  29366.1
high                  29370.9
low                   29336.0
close                 29362.7
volume               1574.697
Name: 35, dtype: object)
(36, time      2023-08-11 03:00:00
open                  29362.7
high                  29385.3
low                   29343.7
close                 29381.8
volume                922.392
Name: 36, dtype: object)
(37, time      2023-08-11 03:05:00
open                  29381.8
high                  29418.0
low                   29380.2
close                 29416.5
volume                 1118.4
Name: 37, dtype: object)
(38, time      2023-08-11 03:10:00
open                  29416.5
high                  29428.5
low                   29400.0
close                 29405.0
volume                974.955
Name: 38, dtype: object)
(39, time      2023-08-11 03:15:00
open                  29405.0
high                  29408.2
low                   29386.0
close                 29390.1
volume                347.792
Name: 39, dtype: object)
(40, time      2023-08-11 03:20:00
open                  29390.0
high                  29392.9
low                   29384.2
close                 29384.2
volume                261.881
Name: 40, dtype: object)
(41, time      2023-08-11 03:25:00
open                  29384.3
high                  29403.9
low                   29384.2
close                 29401.0
volume                315.809
Name: 41, dtype: object)
(42, time      2023-08-11 03:30:00
open                  29401.0
high                  29404.0
low                   29396.1
close                 29397.6
volume                204.302
Name: 42, dtype: object)
(43, time      2023-08-11 03:35:00
open                  29397.7
high                  29399.4
low                   29381.6
close                 29389.3
volume                 284.28
Name: 43, dtype: object)
(44, time      2023-08-11 03:40:00
open                  29389.4
high                  29391.1
low                   29388.3
close                 29390.0
volume                 133.06
Name: 44, dtype: object)
(45, time      2023-08-11 03:45:00
open                  29390.0
high                  29390.8
low                   29380.1
close                 29380.1
volume                250.601
Name: 45, dtype: object)
(46, time      2023-08-11 03:50:00
open                  29380.2
high                  29385.3
low                   29376.2
close                 29384.9
volume                237.627
Name: 46, dtype: object)
(47, time      2023-08-11 03:55:00
open                  29384.9
high                  29400.9
low                   29381.9
close                 29400.7
volume                217.952
Name: 47, dtype: object)
(48, time      2023-08-11 04:00:00
open                  29400.7
high                  29403.1
low                   29394.7
close                 29403.0
volume                271.246
Name: 48, dtype: object)
(49, time      2023-08-11 04:05:00
open                  29403.1
high                  29412.0
low                   29402.6
close                 29412.0
volume                299.469
Name: 49, dtype: object)
(50, time      2023-08-11 04:10:00
open                  29412.0
high                  29412.0
low                   29395.6
close                 29395.6
volume                355.784
Name: 50, dtype: object)
(51, time      2023-08-11 04:15:00
open                  29395.7
high                  29405.3
low                   29395.6
close                 29402.2
volume                258.971
Name: 51, dtype: object)
(52, time      2023-08-11 04:20:00
open                  29402.1
high                  29411.5
low                   29399.3
close                 29409.7
volume                280.872
Name: 52, dtype: object)
(53, time      2023-08-11 04:25:00
open                  29409.8
high                  29416.0
low                   29402.8
close                 29415.9
volume                399.271
Name: 53, dtype: object)
(54, time      2023-08-11 04:30:00
open                  29415.9
high                  29423.9
low                   29415.6
close                 29418.2
volume                 498.31
Name: 54, dtype: object)
(55, time      2023-08-11 04:35:00
open                  29418.2
high                  29418.3
low                   29410.4
close                 29412.8
volume                218.823
Name: 55, dtype: object)
(56, time      2023-08-11 04:40:00
open                  29412.8
high                  29412.9
low                   29410.4
close                 29410.4
volume                104.985
Name: 56, dtype: object)
(57, time      2023-08-11 04:45:00
open                  29410.5
high                  29410.5
low                   29400.4
close                 29400.4
volume                138.915
Name: 57, dtype: object)
(58, time      2023-08-11 04:50:00
open                  29400.4
high                  29409.7
low                   29400.4
close                 29406.8
volume                205.332
Name: 58, dtype: object)
(59, time      2023-08-11 04:55:00
open                  29406.7
high                  29406.8
low                   29404.8
close                 29405.1
volume                105.625
Name: 59, dtype: object)
(60, time      2023-08-11 05:00:00
open                  29405.2
high                  29405.2
low                   29389.1
close                 29389.1
volume                335.408
Name: 60, dtype: object)
(61, time      2023-08-11 05:05:00
open                  29389.2
high                  29389.2
low                   29367.3
close                 29382.6
volume               1237.577
Name: 61, dtype: object)
(62, time      2023-08-11 05:10:00
open                  29382.6
high                  29382.6
low                   29368.2
close                 29377.3
volume                384.312
Name: 62, dtype: object)
(63, time      2023-08-11 05:15:00
open                  29377.3
high                  29384.4
low                   29377.2
close                 29384.4
volume                246.215
Name: 63, dtype: object)
(64, time      2023-08-11 05:20:00
open                  29384.3
high                  29398.3
low                   29384.3
close                 29398.0
volume                311.569
Name: 64, dtype: object)
(65, time      2023-08-11 05:25:00
open                  29398.0
high                  29398.4
low                   29394.2
close                 29398.3
volume                126.321
Name: 65, dtype: object)
(66, time      2023-08-11 05:30:00
open                  29398.4
high                  29408.1
low                   29398.3
close                 29408.1
volume                218.858
Name: 66, dtype: object)
(67, time      2023-08-11 05:35:00
open                  29408.1
high                  29420.0
low                   29408.1
close                 29420.0
volume                469.953
Name: 67, dtype: object)
(68, time      2023-08-11 05:40:00
open                  29419.9
high                  29438.2
low                   29419.9
close                 29424.1
volume                674.767
Name: 68, dtype: object)
(69, time      2023-08-11 05:45:00
open                  29424.1
high                  29427.8
low                   29415.5
close                 29427.7
volume                411.406
Name: 69, dtype: object)
(70, time      2023-08-11 05:50:00
open                  29427.8
high                  29447.7
low                   29427.7
close                 29447.7
volume                585.298
Name: 70, dtype: object)
(71, time      2023-08-11 05:55:00
open                  29447.6
high                  29450.0
low                   29443.4
close                 29449.8
volume                436.936
Name: 71, dtype: object)
(72, time      2023-08-11 06:00:00
open                  29449.8
high                  29450.0
low                   29431.5
close                 29431.5
volume                570.631
Name: 72, dtype: object)
(73, time      2023-08-11 06:05:00
open                  29431.5
high                  29431.6
low                   29422.7
close                 29430.9
volume                328.397
Name: 73, dtype: object)
(74, time      2023-08-11 06:10:00
open                  29430.9
high                  29442.9
low                   29430.8
close                 29438.6
volume                296.271
Name: 74, dtype: object)
(75, time      2023-08-11 06:15:00
open                  29438.6
high                  29439.7
low                   29424.7
close                 29425.1
volume                318.491
Name: 75, dtype: object)
(76, time      2023-08-11 06:20:00
open                  29425.1
high                  29429.6
low                   29421.9
close                 29426.0
volume                284.345
Name: 76, dtype: object)
(77, time      2023-08-11 06:25:00
open                  29425.9
high                  29432.8
low                   29425.9
close                 29429.1
volume                192.424
Name: 77, dtype: object)
(78, time      2023-08-11 06:30:00
open                  29429.2
high                  29429.2
low                   29419.7
close                 29421.3
volume                358.246
Name: 78, dtype: object)
(79, time      2023-08-11 06:35:00
open                  29421.3
high                  29421.4
low                   29414.3
close                 29414.4
volume                217.459
Name: 79, dtype: object)
(80, time      2023-08-11 06:40:00
open                  29414.4
high                  29418.1
low                   29413.1
close                 29413.1
volume                 180.86
Name: 80, dtype: object)
(81, time      2023-08-11 06:45:00
open                  29413.1
high                  29421.2
low                   29413.1
close                 29421.2
volume                180.964
Name: 81, dtype: object)
(82, time      2023-08-11 06:50:00
open                  29421.2
high                  29467.3
low                   29421.1
close                 29453.0
volume               1098.743
Name: 82, dtype: object)
(83, time      2023-08-11 06:55:00
open                  29453.0
high                  29459.4
low                   29450.4
close                 29451.1
volume                490.072
Name: 83, dtype: object)
(84, time      2023-08-11 07:00:00
open                  29451.1
high                  29481.9
low                   29440.9
close                 29456.6
volume               1919.141
Name: 84, dtype: object)
(85, time      2023-08-11 07:05:00
open                  29456.7
high                  29460.7
low                   29444.7
close                 29444.8
volume                532.807
Name: 85, dtype: object)
(86, time      2023-08-11 07:10:00
open                  29444.8
high                  29453.4
low                   29439.5
close                 29446.4
volume                265.368
Name: 86, dtype: object)
(87, time      2023-08-11 07:15:00
open                  29446.4
high                  29447.6
low                   29428.7
close                 29431.9
volume                 510.88
Name: 87, dtype: object)
(88, time      2023-08-11 07:20:00
open                  29432.0
high                  29435.0
low                   29425.7
close                 29427.1
volume                369.146
Name: 88, dtype: object)
(89, time      2023-08-11 07:25:00
open                  29427.2
high                  29433.3
low                   29426.0
close                 29433.1
volume                173.844
Name: 89, dtype: object)
(90, time      2023-08-11 07:30:00
open                  29433.1
high                  29433.2
low                   29421.8
close                 29421.8
volume                278.934
Name: 90, dtype: object)
(91, time      2023-08-11 07:35:00
open                  29421.8
high                  29422.0
low                   29415.0
close                 29421.9
volume                460.861
Name: 91, dtype: object)
(92, time      2023-08-11 07:40:00
open                  29422.0
high                  29422.0
low                   29421.9
close                 29422.0
volume                169.917
Name: 92, dtype: object)
(93, time      2023-08-11 07:45:00
open                  29421.9
high                  29422.0
low                   29420.0
close                 29420.0
volume                178.706
Name: 93, dtype: object)
(94, time      2023-08-11 07:50:00
open                  29420.0
high                  29420.1
low                   29417.0
close                 29417.1
volume                134.487
Name: 94, dtype: object)
(95, time      2023-08-11 07:55:00
open                  29417.0

In [65]:
bb

                   time     open     high      low    close   volume
0   2023-08-11 00:00:00  29443.7  29443.8  29439.5  29439.5  142.335
1   2023-08-11 00:05:00  29439.6  29442.9  29436.0  29442.8  222.348
2   2023-08-11 00:10:00  29442.8  29450.3  29442.8  29449.0  314.360
3   2023-08-11 00:15:00  29449.0  29459.9  29445.5  29459.8  400.268
4   2023-08-11 00:20:00  29459.9  29475.0  29459.9  29475.0  397.210
..                  ...      ...      ...      ...      ...      ...
283 2023-08-11 23:35:00  29416.1  29416.9  29413.4  29413.4  176.268
284 2023-08-11 23:40:00  29413.5  29420.0  29413.4  29419.9  139.629
285 2023-08-11 23:45:00  29420.0  29430.0  29412.2  29412.2  311.631
286 2023-08-11 23:50:00  29412.3  29416.0  29412.2  29415.9   88.854
287 2023-08-11 23:55:00  29415.9  29416.0  29415.5  29415.5  105.068

[288 rows x 6 columns]